{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Home {% endblock %}

{% block body %}

<div class="container">
    <div class="row mt-5">
    
        {% for book in books %}

            <div class="col-4 text-center">
                <h3>{{book.title}}</h3>
                <p>parution: {{book.parution|date("d/m/Y")}}</p>
                <figure class="d-flex justify-content-center">
                    <img src="{{asset('images/'~book.cover)}}" alt="">
                </figure>
                <a href="{{ path('app_book_detail', { id: book.id }) }}">détail</a>
            </div>

        {% endfor %}  
         
    </div>
</div>


{% endblock %}

{% block stylesheets %}
    {{ parent()}}
    <style>
       p {color: blue;}
    </style>

{% endblock %}
